DJANGO_SECRET_KEY=django-insecure-change-me

POSTGRES_DB=Allen_bus
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

OPENAI_API_KEY=
GEMINI_API_KEY=
GOOGLE_MAPS_API_KEY=

TELEGRAM_BOT_TOKEN=
ULTRAMSG_INSTANCE_ID=
ULTRAMSG_API_TOKEN=

KASHIER_API_KEY=
KASHIER_SECRET_KEY=
KASHIER_ACCOUNT_KEY=
KASHIER_MODE=live

STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
