__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
test/

.pytest_cache/
.mypy_cache/

.env
.env.*
!.env.example

media/
staticfiles/

certbot_etc/
certbot_lib/

*.pem
*.key
*.crt
*.csr

*.log

*.sqlite3
*.db

allen_bus_dump.sql
