{% extends "admin/change_list.html" %}

{% block object-tools %}
<a href="{% url 'admin:bus_report' %}" class="button">-- عرض تقرير الحافلات --</a>

<div style="margin-bottom: 20px; margin-top:30px;">
  <a href="{% url 'admin:deactivate_go_trips' %}" class="button"
     style="background:#dc2626;color:white;padding:10px 15px;border-radius:8px;text-decoration:none;">
     🚫 تعطيل رحلات الذهاب
  </a>

  <a href="{% url 'admin:deactivate_return_trips' %}" class="button"
     style="background:#2563eb;color:white;padding:10px 15px;border-radius:8px;text-decoration:none;margin-left:10px;">
     🧭 تعطيل رحلات العودة
  </a>
</div>

{{ block.super }}
{% endblock %}
